header {
  background-image: url(../assets/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff; }

header .navbar {
  padding-top: 28px;
  margin-bottom: 180px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  place-self: center; }

header .navbar .logo_name {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif; }

header .navbar .navbar_lists {
  margin-left: -20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

header .navbar .navbar_lists .navbar_lists_link {
  list-style: none;
  margin-left: 27px; }

header .navbar .navbar_lists .navbar_lists_link a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  position: relative;
  padding-bottom: 4px; }

header .navbar .navbar_lists .navbar_lists_link a:hover .b-animation {
  width: 100%;
  transition: 500ms ease; }
  
header .intro {
  padding-bottom: 200px; }

header .intro .intro_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

header .intro .intro_hero .description {
  margin-top: 13px;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 42px;
  font-family: 'Oswald', sans-serif; }

header .intro .intro_hero span {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0.7; }
